[submodule "c-tracker-content"]
	path = c-tracker-content
	url = https://github.com/chb/c-tracker-content.git
[submodule "c-tracker-faq"]
	path = c-tracker-faq
	url = https://github.com/chb/c-tracker-faq.git
