<!DOCTYPE html>
<html>
<head>
	<title>C Tracker</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="static/favicon.png" type="image/png">
	
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="no">
	<meta name="apple-itunes-app" content="app-id=997038282">
	<meta name="msapplication-TileColor" content="rgb(57,99,159)">
	<meta name="msapplication-TileImage" content="static/Icon-144.png">
	
	<link rel="apple-touch-icon" sizes="76x76" href="static/Icon-76.png"><!-- non-retina iPad iOS 7+ -->
	<link rel="apple-touch-icon" sizes="120x120" href="static/Icon-60@2x.png"><!-- retina iPhones @2x iOS 7+ -->
	<link rel="apple-touch-icon" sizes="152x152" href="static/Icon-76@2x.png"><!-- retina iPads iOS 7+ -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/Icon-60@3x.png"><!-- retina iPhones @3x iOS 7+ -->
	
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delius">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<header>
		<div>
			<ul class="navi">
				<li><a href="http://c-tracker.tumblr.com" target="_blank">Did you know?</a></li>
				<li><a href="http://c3-pro.chip.org" target="_blank">Technology</a></li>
				<li><a href="team.html">Team</a></li>
				<li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
				<li><a href="FAQ.html">FAQ</a></li>
			</ul>
		</div>
	</header>
	<div id="container">
		<div class="download-top">
			<a href="http://c-tracker.org/store">
				<img class="appstore" src="static/AppStore.svg" alt="App store">
			</a>
		</div>
		<div class="content main">
			<p id="logo">
				<a href="index.html"><img src="static/C-Tracker.png" srcset="static/C-Tracker@2x.png 2x, static/C-Tracker@3x.png 3x" alt="C Tracker"></a>
			</p>
			{{ content|safe }}
		</div>
	</div>
	<footer>
		<div class="content resources">
			<p>
				<a href="http://www.childrenshospital.org/news-and-events/resources-for-reporters/contact-media-relations" target="_blank">Media Inquiries</a><br>
				<a href="assets.html">C Tracker Assets</a>
			</p>
			<div class="center"></div>
			<p>
				<a href="http://www.childrenshospital.org" target="_blank">Boston Children's Hospital</a><br>
				<a href="https://twitter.com/Bos_CHIP" target="_blank">@Bos_CHIP</a>
			</p>
		</div>
		<p><a href="http://www.chip.org" target="_blank">
			<img class="institute" src="static/ResearchInstitute-web.png" srcset="static/ResearchInstitute-web@2x.png 2x, static/ResearchInstitute-web@3x.png 3x" alt="">
		</a></p>
		<p>Copyright © Boston Children's Hospital 2015</p>
	</footer>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-67311633-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
